@use "../base/mixins.scss" as *;
@use "../base/variable.scss" as *;

.home_main {
  @include flexbox(column, space-between, stretch);
  .home_section {
    text-align: center;
    @include flexbox(column, center, stretch);
    background: #fffaf5;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.12);
    transition: 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  .home_figure {
    flex: 0 0 45%;
    text-align: center;
  }
}

@include responsive($bp-md) {
  .home_main {
    @include flexbox(row, space-between, stretch);
    .home_section {
      flex: 0 0 45%;
    }

    .home_figure {
      flex: 0 0 45%;
      text-align: center;
    }
  }
}
