@use "../base/mixins.scss" as *;
@use "../base/variable.scss" as *;

.btn-nav-second {
  @include flexbox(row, flex-start, center);
  background-color: $color-btn;
  border: none;
  padding: 1rem;
}

.nav-aside {
  background-color: $color-btn;
  opacity: 0;
  transform: translateY(-50px);
  overflow: hidden;
  pointer-events: none;
  max-height: 0;
  transition:
    transform 2s ease,
    opacity 2s ease,
    max-height 2s ease;

  ul {
    @include flexbox(column, center, stretch);
    padding: 1rem;
  }
}

.menu_restau {
  figure {
    max-width: 250px;
    max-height: 250px;
  }
}

.nav-aside.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  max-height: 500px;
}

@include responsive($bp-md) {
  .nav-aside {
    background-color: $color-btn;
    opacity: 1;
    transform: translateY(0);
    overflow: hidden;
    pointer-events: auto;
    max-height: 100vh;
    transition:
      transform 2s ease,
      opacity 2s ease,
      max-height 2s ease;

    ul {
      @include flexbox(column, stretch, center);
      padding: 1rem;
    }
  }

  .main_menu {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-areas: "aside menu";
    gap: 5rem;
    max-width: 1200px;
    width: 95%;
    margin-inline: auto;

    aside {
      grid-area: aside;
    }

    .menu_restau {
      grid-area: menu;
      max-width: 1000px;
      padding: 2rem;

      section {
        @include flexbox(row, space-between, stretch);
        flex-wrap: wrap;
        h3 {
          flex: 0 0 100%;
        }

        ul {
          flex: 0 0 60%;
        }

        figure {
          flex: 0 0 40%;
        }
      }
    }
  }
}
