// base
@use "base/reset.scss";
@use "base/typography.scss";
@use "base/variable.scss";
@use "base/mixins.scss";

//Layout
@use "layout/header.scss";
@use "layout/footer.scss";

// page
@use "page/home.scss";
@use "page/menu.scss";
@use "page/restaurant.scss";
