// base
@use "base/reset.scss";
@use "base/typography.scss";
@use "base/variable.scss";
@use "base/mixins.scss";

// Composant
@use "components/buttons.scss";

//Layout
@use "layout/header.scss";
@use "layout/main.scss";
@use "layout/footer.scss";
