@use "./variable.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  background-color: $bg-colors;
}

.home_main {
  max-width: 1200px;
  width: 80%;
  margin: 3rem auto;
  min-height: 70dvh;
}

section {
  margin: 3rem 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}
