@use "./mixins.scss" as *;

body {
  font-size: 16px;
  line-height: 1.6;
  font-family:
    "BenchNine",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

h1 {
  @include fluid-text(3.5rem, 7vw, 5rem);
  letter-spacing: 1px;
  text-align: center;
}

h2 {
  @include fluid-text(2rem, 4vw, 2.5rem);
  letter-spacing: 2px;
  margin: 2rem 0;
}

h3 {
  @include fluid-text(1.5rem, 3vw, 2rem);
  letter-spacing: 2px;
  margin: 2rem 0;
}

h4 {
  @include fluid-text(1.2rem, 2.5vw, 1.8rem);
  letter-spacing: 2px;
}
header li {
  @include fluid-text(1.1rem, 2vw, 1.5rem);
}
p,
main li,
footer li {
  @include fluid-text(1rem, 1.8vw, 1.3rem);
  max-width: 100ch;
}
