$font-title: "Chela One", "Arial", "sans-serif";
$font-text: "BrenchNine", "Arial", "sans-serif";

$font-size-base: 1rem;

$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;

$bp-md: 768px;
$bp-lg: 1024px;

$z-index: 100;
