$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;

$bp-md: 768px;
$bp-lg: 1024px;

$z-index: 100;

$bg-primary: #8b4512;
$bg-colors: #f8e9c9;
$color-hover: #ad3111;
$color-btn: #eb8b46;
$color-text: white;
